@use "../../scss/crown-colors.scss" as c;

$inner-circle-radius: 4.875rem;

:host {
    position: relative;
    background-image: url(/assets/img/weapons_bg.jpg);
}

:host,
.underlay {
    background-color: #141718;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.underlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(/assets/img/weapon_bg.jpg);
}

.toggle-bkg {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: lime;
    z-index: 100;
}

.main-content {
    z-index: 10;
    height: 100%;
    width: 100%;
}

.origin {
    z-index: 2;
    position: absolute;
    top: 6px;
    bottom: 0;
    left: -2px;
    right: 0;
    margin: auto;
    height: 31.3125rem;
    width: 31.3125rem;

    .event-origin {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: $inner-circle-radius * 2;
        width: $inner-circle-radius * 2;
        border-radius: 100%;

        .slot-0 { 
            top: -7.725rem;
            bottom: auto;
            left: 0;
            right: 0;
        }

        .slot-1 {
            transform: rotate(45deg);
            top: -5.25rem;
            bottom: auto;
            right: -4.875rem;
            left: auto;
        }

        .slot-2 {
            transform: rotate(90deg);
            top: 0.675rem;
            bottom: auto;
            right: -7.125rem;
            left: auto;
        }

        .slot-3 {
            transform: rotate(135deg);
            top: auto;
            bottom: -5.25rem;
            right: -4.875rem;
            left: auto;
        }

        .slot-4 {
            transform: rotate(180deg);
            bottom: -7.875rem;
            top: auto;
            left: 0;
            right: 0;
        }

        .slot-5 {
            transform: rotate(225deg);
            bottom: -5.475rem;
            top: auto;
            left: -4.65rem;
            right: auto;
        }

        .slot-6 {
            transform: rotate(270deg);
            top: 0.675rem;
            bottom: auto;
            right: auto;
            left: -7.125rem;
        }

        .slot-7 {
            transform: rotate(315deg);
            top: -5.25rem;
            bottom: auto;
            right: auto;
            left: -4.875rem;
        }
    }

    .weapon-slice-event-catcher {
        cursor: pointer;
        z-index: 10;
        position: absolute;
        margin: auto;
        height: 8.625rem;
        width: 7.5rem;
        border-radius: 0 0 100% 100%;
        background-color: transparent;
    }
}
