<div class="toggle-bkg" (click)="toggleBg = !toggleBg"></div>
<div class="weapon-page-main-content">
    <div class="origin">
        <weapon-wheel-slice *ngFor="let slot of slots" [slicePosition]="slot" [select]="selected(slot)"></weapon-wheel-slice>
        <div class="event-origin">
            <div class="weapon-slice-event-catcher"
                [ngClass]="'slot-' + slot"
                *ngFor="let slot of slots"
                (click)="selectSlot(slot)"
            ></div>
        </div>
    </div>
</div>
<div class="underlay" *ngIf="toggleBg"></div>
