<div fxLayout="column" fxFlex="100%" class="main-content">
    <div class="main-view" fxLayout="row" fxFlex="100%">
        <div class="skill-selection" fxLayout="row" fxFlex="75%">
            <div class="spacer"></div>
            <div fxLayout="column" fxFlex="25%" class="combat">
                <h2>Combat</h2>
                <div fxLayout="row" fxFlex="100%" class="skill-group">
                    <div fxFlex="50%" fxLayout="column" fxLayoutAlign="space-between center">
                        <skill-button *ngFor="let skill of skills.combat.left"
                            [skill]="skill"
                            (updateView)="updateView(skill)"
                            (addSkill)="addSkill(skill)"
                            (removeSkill)="removeSkill(skill)"
                        ></skill-button>
                    </div>
                    <div fxFlex="50%" fxLayout="column" fxLayoutAlign="space-between center">
                        <skill-button *ngFor="let skill of skills.combat.right"
                            [skill]="skill"
                            (updateView)="updateView(skill)"
                            (addSkill)="addSkill(skill)"
                            (removeSkill)="removeSkill(skill)"
                        ></skill-button>
                    </div>
                </div>
            </div>
            <div class="spacer"></div>
            <div fxLayout="column" fxFlex="25%" class="support">
                <h2>Support</h2>
                <div fxLayout="row" fxFlex="100%" class="skill-group">
                    <div fxFlex="50%" fxLayout="column" fxLayoutAlign="space-between center">
                        <skill-button *ngFor="let skill of skills.support.left"
                            [skill]="skill"
                            (updateView)="updateView(skill)"
                            (addSkill)="addSkill(skill)"
                            (removeSkill)="removeSkill(skill)"
                        ></skill-button>
                    </div>
                    <div fxFlex="50%" fxLayout="column" fxLayoutAlign="space-between center">
                        <skill-button *ngFor="let skill of skills.support.right"
                            [skill]="skill"
                            (updateView)="updateView(skill)"
                            (addSkill)="addSkill(skill)"
                            (removeSkill)="removeSkill(skill)"
                        ></skill-button>
                    </div>
                </div>
            </div>
            <div class="spacer"></div>
            <div fxLayout="column" fxFlex="25%" class="survival">
                <h2>Survival</h2>
                <div fxLayout="row" fxFlex="100%" class="skill-group">
                    <div fxFlex="50%" fxLayout="column" fxLayoutAlign="space-between center">
                        <skill-button *ngFor="let skill of skills.survival.left"
                            [skill]="skill"
                            (updateView)="updateView(skill)"
                            (addSkill)="addSkill(skill)"
                            (removeSkill)="removeSkill(skill)"
                        ></skill-button>
                    </div>
                    <div fxFlex="50%" fxLayout="column" fxLayoutAlign="space-between center">
                        <skill-button *ngFor="let skill of skills.survival.right"
                            [skill]="skill"
                            (updateView)="updateView(skill)"
                            (addSkill)="addSkill(skill)"
                            (removeSkill)="removeSkill(skill)"
                        ></skill-button>
                    </div>
                </div>
            </div>
            <div class="spacer"></div>
            <div fxLayout="column" fxFlex="25%" class="tech">
                <h2>Tech</h2>
                <div fxLayout="row" fxFlex="100%" class="skill-group">
                    <div fxFlex="50%" fxLayout="column" fxLayoutAlign="space-between center">
                        <skill-button *ngFor="let skill of skills.tech.left"
                            [skill]="skill"
                            (updateView)="updateView(skill)"
                            (addSkill)="addSkill(skill)"
                            (removeSkill)="removeSkill(skill)"
                        ></skill-button>
                    </div>
                    <div fxFlex="50%" fxLayout="column" fxLayoutAlign="space-between center">
                        <skill-button *ngFor="let skill of skills.tech.right"
                            [skill]="skill"
                            (updateView)="updateView(skill)"
                            (addSkill)="addSkill(skill)"
                            (removeSkill)="removeSkill(skill)"
                        ></skill-button>
                    </div>
                </div>
            </div>
            <div class="spacer"></div>
        </div>
        <div class="skill-details" fxLayout="column" fxFlex="25%">
            <h2>{{skillView.label}}</h2>
            <div class="skill-count" fxLayout="row">
                <span [class.highlight]="data.get(skillView.id) >= 1"><i></i></span>
                <span *ngIf="skillView.maxLevel >= 2" [class.highlight]="data.get(skillView.id) >= 2"><i></i></span>
                <span *ngIf="skillView.maxLevel >= 3" [class.highlight]="data.get(skillView.id) >= 3"><i></i></span>
            </div>
            <div class="skill-specs" fxLayout="column">
                <img src="{{mainImg(skillView.mainImg)}}">
                <div class="description">
                    <p *ngFor="let text of skillView.descriptionText">{{text}}</p>
                    <p class="special" *ngIf="skillView.specialization">Only one specialization may be active at a time.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="skill-progress" fxLayout="row">
        <div class="active-bar" fxLayout="row" fxFlex="77%" fxLayoutAlign="center">
            <div class="active-specialization" fxLayout="row"
                (click)="toggleSpecialization()"
                [ngClass]="{'slide-open': specialList.length != 0}"
            >
                <div class="icon" [ngClass]="data.selectedSpecial.icon"></div>
                <div class="name" fxLayout="column">
                    <span class="title">Active Specialization</span>
                    <span class="skill-name">{{data.selectedSpecial.label}}</span>
                </div>
            </div>
            <div fxFlex="0 1 auto" fxLayout="row" class="skill-bar">
                <span>Lvl {{skillCount + 1}}</span>
                <div class="progress-bar" fxLayout="row">
                    <span *ngFor="let in of SkillBarList; let i = index" [ngClass]="{'highlight': barProgressHighlight(i)}"></span>
                </div>
            </div>
        </div>
        <div class="reset-button" fxLayout="column" fxFlex="23%">
            <button mat-button fxFlex="100%" (click)="initData(true)">Reset Skills</button>
            <span>Double (tap/click) or right (click) to remove skills.</span>
        </div>
    </div>
</div>
<div class="underlay" [style.opacity]="skillProgress"></div>
