$progress-bar-color: #17F018;
$progress-bar-background: #808080;
$text-color: #d0d0d0;
$text-hover: #ffffff;
$combat-color: rgba(150,0,0,0.3);
$support-color: rgba(120,0,165,0.3);
$survival-color: rgba(0,120,120,0.3);
$tech-color: rgba(0, 60, 150, 0.3);
$combat-title-color: transparentize($combat-color, 0.1);
$support-title-color: transparentize($support-color, 0.1);
$survival-title-color: transparentize($survival-color, 0.1);
$tech-title-color: transparentize($tech-color, 0.1);

:host {
    position: relative;
    background-color: #141718;
    background-image: url(/assets/img/skills_bg.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
}

.underlay {
    background-color: #ffffff;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(/assets/img/skills_bg_robot.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    opacity: 0;
}

.main-content {
    z-index: 2;
}

.skill-progress {
    padding: 1rem 0;
    .active-specialization {
        margin-left: 1rem;
        .icon {
            width: 3rem;
            height: 3rem;
            background-color: lime;
        }
        .name {
            margin: auto 0;
            padding-left: 0.15rem;
        }
        .title,
        .skill-name {
            text-transform: uppercase;
            line-height: 1rem;
        }
        .title {
            font-size: 1rem;
            font-weight: 600;
            color: $text-color;
            letter-spacing: 0.1rem;
        }
        .skill-name {
            font-size: 0.85rem;
            color: $text-color;
        }
    }
    .skill-bar {
        > span {
            line-height: 3rem;
            font-size: 1.2rem;
            font-weight: 100;
            min-width: 3.1rem;
            color: $text-color;
            margin-left: 1rem;
        }
        .progress-bar {
            height: 3rem;
            padding-top: 0.8rem;
            padding-bottom: 0.85rem;
            padding-left: 0.3rem;
            > span {
                background-color: $progress-bar-background;
                width: .5rem;
                height: 100%;
                margin: 0 0.25rem 0 0;
                transform: skew(33deg, 0deg);
                &.highlight {
                    background-color: $progress-bar-color;
                    box-shadow: 0 0 0.5rem $progress-bar-color;                }
            }
        }
    }
}

.skill-selection {
    .spacer:first-child { box-shadow: none; }
    .spacer {
        width: 0.5rem;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
        box-shadow: 0 -1rem 3rem #000000;
        flex-shrink: 0;
    }
    .skill-button {
        width: 3rem;
        height: 3rem;
        background-color: lime;
        cursor: pointer;

        margin: 20px 20px;
    }
    h2 {
        color: $text-color;
        font-size: 1rem;
        text-transform: uppercase;
        text-align: center;
        line-height: 3rem;
        padding: 1rem 0 0;
        // border-radius: 0 0 15% 15%;
    }
    > div {
        background-size: 100% 80%;
        background-repeat: no-repeat;
        &.combat {
            background-image: linear-gradient($combat-color, rgba(0,0,0,0));
            h2 {
                background-color: $combat-title-color;
                box-shadow: 0 2.5rem 1.5rem $combat-title-color;
            }
        }
        &.support {
            background-image: linear-gradient($support-color, rgba(0,0,0,0));
            h2 {
                background-color: $support-title-color;
                box-shadow: 0 2.5rem 1.5rem $support-title-color;
            }
        }
        &.survival {
            background-image: linear-gradient($survival-color, rgba(0,0,0,0));
            h2 {
                background-color: $survival-title-color;
                box-shadow: 0 2.5rem 1.5rem $survival-title-color;
            }
        }
        &.tech {
            background-image: linear-gradient($tech-color, rgba(0,0,0,0));
            h2 {
                background-color: $tech-title-color;
                box-shadow: 0 2.5rem 1.5rem $tech-title-color;
            }
        }
        &:hover h2 {
            color: $text-hover;
        }
    }
}

.skill-details {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
}
