<div fxLayout="column" id="App_Content_Wrap">
  <div class="copy-box" [class.show]="data.showCopyBox">
    <div class="flyout">
      <button mat-icon-button (click)="loadCopyBox()"><mat-icon>close</mat-icon></button>
      <h2>The link to this build</h2>
      <input #copyBox type="text" (click)="this.copyBox.select()">
    </div>
    <div class="overlay" (click)="loadCopyBox()"></div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" id="Header">
    <div fxLayout="row" id="Header_Content" [ngClass]="headerCssClass">
      <div class="nav-buttons" fxLayout="row">
        <span class="skill-button"><span><span><span><button mat-button [routerLink]="['\skills', data.codeData]" routerLinkActive="active">Skills</button></span></span></span></span>
        <span class="weapon-button"><span><span><span><button mat-button [routerLink]="['\weapons', data.codeData]" routerLinkActive="active">Weapons</button></span></span></span></span>
        <!-- <span class="gear-button"><span><span><span><button mat-button [routerLink]="'\gear'" routerLinkActive="active">Profile</button></span></span></span></span> -->
      </div>
      <h1 fxFlex="100%">Generation Zero - Skill Calculator</h1>
      <div class="share-links" fxLayout="row">
        <button mat-icon-button
          matTooltip="Link to this build"
          (click)="data.createLink()"
        >
          <mat-icon>share</mat-icon>
        </button>
        <a mat-icon-button
          matTooltip="Buy Generation Zero here"
          href="https://generationzero.com/en#get-the-game" target="_blank"
        >
          <mat-icon>attach_money</mat-icon>
        </a>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" id="Main_Content_Wrap" >
    <div fxLayout="row" id="Main_Content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <span class="copy-right-statement">
    Art &copy; 2022 <a href="https://avalanchestudios.com/" target="_blank">Avalanche Studio</a> /
    <a href="https://www.google.com/webfonts" target="_blank">Fonts</a> by Google /
    <a href="https://github.com/Tue-MaTocky/GenZero/" target="_blank">Source Code</a> hosted on Github
  </span>
</div>