<div class="skill-button" [ngClass]="levelMaxed" fxLayout="column" fxLayoutAlign="start center">
    <div class="icon-button"
        [class.specialization]="skill.specialization"
        [ngClass]="(lockSkill && data.maxSkillsReached) ? 'icon-lock' : skill.icon"
        (mouseout)="onMouseOut()"
        (mouseenter)="onMouseEnter(skill)"
        (click)="onClick(skill)"
        (rightClick)="onRightClick(skill)"
    ></div>
    <div class="icon-lock-trans icon-button-lock"
        *ngIf="lockSkill && !data.maxSkillsReached && !skill.specialization"
        (mouseout)="onMouseOut()"
        (mouseenter)="onMouseEnter(skill)"
    ></div>
    <div class="icon-button-lock-spec"
        *ngIf="lockSkill && !data.maxSkillsReached && skill.specialization"
    >
        <div class="icon-lock-trans"
            (mouseout)="onMouseOut()"
            (mouseenter)="onMouseEnter(skill)"
        ></div>
    </div>
    <span class="level-count" [cloak]="clockLabel" [class.hover]="hovering" [ngClass]="showLevelCount" fxLayout="column" fxLayoutAlign="start center">
        <span class="count">{{data.get(skill.id) + "/" + skill.maxLevel}}</span>
        <span class="label">{{skill.label}}</span>
    </span>
</div>
<div *ngIf="!skill.specialization" class="power-bar" [ngClass]="powerUp"><div></div></div>
