$button-size: 3rem;
:host {
    width: 100%;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.skill-button {
    width: 100%;
    .icon-button {
        width: 100%;
        width: $button-size;
        height: $button-size;
        color: #ffffff;
        cursor: pointer;
    }
    .specialization.icon-button {
        width: $button-size + 0.35rem;
        height: $button-size + 0.35rem;
    }
}

.level-count {
    text-transform: uppercase;
    width: max-content;
    position: absolute;
    border: 2px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
    top: $button-size + 0.5rem;
    text-align: center;
    font-weight: 500;
    background-color: #000000;
    padding: 0 0.25rem;
    font-size: 0.75rem;

    transition: max-width 0.25s ease-in-out;
    max-width: 2.35rem;

    &.hover {
        max-width: 175%;
        z-index: 1;
        .label {
            max-width: 175%;
            line-height: 1rem;
        }
    }
    span {
        padding: 0 .25rem;
    }
    .label {
        transition: max-width 1s;
        line-height: 0;
        max-width: 0;
        padding: 0;
        font-size: 0.75rem;
        white-space: nowrap;
        overflow: hidden;
    }
}
