@use "../../../scss/crown-colors.scss" as c;

$neutral-border-color: #666666;
$gap-color: #333333;
$border-width: 0.125rem;
$inner-circle-radius: 3.25rem;
$outer-circle-radius: 8.0625rem;
$side-height: $outer-circle-radius - $inner-circle-radius + $border-width;
$vertical-position: $side-height * 1.5 + $inner-circle-radius - $border-width;
$side-rotation: 22.5deg;

.center {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
:host {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 0;
    height: 100%;
    width: 100%;
    @extend .center;
}
.wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}
.outer-circle,
.inner-circle {
    border: $border-width solid $neutral-border-color;
    border-radius: 100%;
    overflow: hidden;
    @extend .center;
}
.inner-circle {
    height: $inner-circle-radius * 2;
    width: $inner-circle-radius * 2;
}
.outer-circle {
    height: $outer-circle-radius * 2;
    width: $outer-circle-radius * 2;
}
.back-drop {
    z-index: -2;
    position: absolute;
    margin: 0 auto 0;
    left: 0;
    right: 0;
    top: -0.5rem;
    height: 7.25rem;
    width: 1.75rem;
    border-top: 0.9375rem solid transparent;
    transform: matrix3d(2, 0, 0, 0, 0, 0.5, 0, 0.00999, 0, 0, 1, 0, 0, 0, 0, 1);
}
.right-side,
.left-side {
    background-color: $gap-color;
    width: 0.0625rem;
    width: $border-width;
    height: $side-height;
    position: absolute;
    top: 0;
    bottom: 10.625rem;
    margin: auto;
}
.left-side {
    border-right: $border-width solid $neutral-border-color;
    transform: rotate(-$side-rotation);
    left: 0;
    right: 4.25rem;
}
.right-side {
    border-left: $border-width solid $neutral-border-color;
    transform: rotate($side-rotation);
    left: 4.25rem;
    right: 0;
}
.position-label {
    position: absolute;
    margin: 0 auto 0;
    padding: 0.0625rem 0.25rem;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.0625rem;
    border: 0.0625rem solid #ffffff;
    border-radius: 33%;
    font-weight: 100;
}
.portrait {
    position: absolute;
    margin: 0 auto 0;
    left: 0;
    right: 0;
    top: 3.25rem;
    width: 6rem;
    height: 3rem;
    background-color: #888888;
    opacity: 0.5;
    z-index: 10;
    opacity: 0.0;
}
.weapon-crown-bar {
    z-index: -1;
    position: absolute;
    margin: 0 auto 0;
    left: 0;
    right: 0;
    width: 2.75rem;
    height: 0.75rem;
    top: 6.45rem;
    border-radius: 66% 66% 0% 0%;
}
.weapon-crown-0 {
    .weapon-crown-bar {
        background-color: transparent;
    }
}
.weapon-crown-1 {
    .weapon-crown-bar {
        background-color: c.$crown-color-1;
    }
    &.select {
        .right-side,
        .left-side {
            border-color: c.$crown-color-1;
        }
        .back-drop {
            border-color: c.$crown-color-1;
        }
    }
}
.weapon-crown-2 {
    .weapon-crown-bar {
        background-color: c.$crown-color-2;
    }
    &.select {
        .right-side,
        .left-side {
            border-color: c.$crown-color-2;
        }
        .back-drop {
            border-color: c.$crown-color-2;
        }
    }
}
.weapon-crown-3 {
    .weapon-crown-bar {
        background-color: c.$crown-color-3;
    }
    &.select {
        .right-side,
        .left-side {
            border-color: c.$crown-color-3;
        }
        .back-drop {
            border-color: c.$crown-color-3;
        }
    }
}
.weapon-crown-4 {
    .weapon-crown-bar {
        background-color: c.$crown-color-4;
    }
    &.select {
        .right-side,
        .left-side {
            border-color: c.$crown-color-4;
        }
        .back-drop {
            border-color: c.$crown-color-4;
        }
    }
}
.weapon-crown-5 {
    .weapon-crown-bar {
        background-color: c.$crown-color-5;
    }
    &.select {
        .right-side,
        .left-side {
            border-color: c.$crown-color-5;
        }
        .back-drop {
            border-color: c.$crown-color-5;
        }
    }
}
.weapon-crown-6 {
    .weapon-crown-bar {
        background-color: c.$crown-color-6;
    }
    &.select {
        .right-side,
        .left-side {
            border-color: c.$crown-color-6;
        }
        .back-drop {
            border-color: c.$crown-color-6;
        }
    }
}
.select {
    .back-drop {
        background-color: #000000;
        border-radius: 23% 23% 0 0;
    }
}
