@use './header-colors.scss' as c;

@mixin header-button-styles($spec: ()) {
    $spec: map-merge(
        (), 
        $spec
    );

    .nav-buttons,
    .share-links {
        color: #ffffff;
    }

    .nav-buttons {
    // &.skill-page,
    // &.weapon-page,
    // &.gear-page {
        @include button-style();
        button {
            border-radius: 0;
            text-transform: uppercase;
            font-size: 1.25rem;
            padding: 0 0.3125rem;
            font-weight: 100;
        }
    // }
    }

    &.skill-page {
        &,
        .share-links .link-message {
            background-color: c.$header-skill-color;
        }
        .skill-button {
            @include selected-button();
        }
    }

    &.weapon-page {
        &,
        .share-links .link-message {
            background-color: c.$header-weapon-color;
        }
        .weapon-button {
            @include selected-button();
        }
    }

    &.gear-page {
        &,
        .share-links .link-message {
            background-color: c.$header-gear-color;
        }
        .gear-button {
            @include selected-button();
        }
    }
}

@mixin selected-button() {
    border-color: rgba(198,197,190,0.3);
    > span {
        border-color: rgba(198,197,190,0.6);
    }
    > span > span {
        border-color: rgba(198,197,190,0.75);
    }
    > span > span > span {
        border-color: rgba(198,197,190,1);
    }

    button {
        background-color: c.$header-selected-button-color;
        color: #000000;
    }
}

@mixin button-style () {
    span,
    > span,
    > span > span,
    > span > span > span {
        border: 0 solid rgba(198,197,190,0.3);
        border-style: solid;
        border-color: transparent;
        border-width: 0 0.1875rem 0;
        padding: 0 0.125rem;
        display: flex;
        font-size: 0.875em;
        line-height: 1.25rem;
    }
}
