
@mixin media-queries() {

    @media (min-height: 1040px) and (min-width: 1070px) {
        font-size: 18px;
    }

    @media (min-height: 1200px) {
        font-size: 22px;
        app-skills,
        .underlay {
            background-size: cover;
        }
    }

    @media (max-height: 840px) and (min-height: 739px) and (min-width: 1070px) {
        font-size: 14px;
    }
      
    @media (max-height: 740px) and (min-width: 1070px) {
        font-size: 12px;
    }

    @media (max-width: 1070px) {
        font-size: 14px;
        .active-bar,
        .skill-selection {
            flex-flow: row wrap !important;
            max-width: 65% !important;
            overflow: auto;
        }
        .reset-button,
        .skill-details {
            max-width: 35% !important;
        }

        .combat,
        .support,
        .survival,
        .tech {
            flex: 1 1 50% !important;
            max-width: 50% !important;
        }
        .spacer {
            width: 0;
        }

        #Header h1 {
            font-size: 1.5rem;
            padding-left: 1rem;
        }
    }

    @media (max-width: 875px) {
        font-size: 13px;
        #Header h1 {
            font-size: 1rem;
        }

        .active-bar,
        .skill-selection {
            max-width: 50% !important;
        }
        .reset-button,
        .skill-details {
            max-width: 50% !important;
        }
        .combat,
        .support,
        .survival,
        .tech {
            flex: 1 1 100% !important;
            max-width: 100% !important;
        }

        .active-bar {
            flex-direction: column !important;
            padding-left: 1rem;
        }
        .skill-progress {
            padding: 0;
            span { 
                margin-bottom: 0.5rem;
            }
            button {
                max-height: 2.5rem !important;
            }
        }
        .active-specialization {
            padding: 0.25rem 0;
            .icon {
                width: 2.5rem;
                height: 2.5rem;
            }
            .title { font-size: 0.75rem; }
            .skill-name { font-size: 0.85rem; }
            span {
                margin-bottom: 0;
            }
        }
        .skill-bar {
            .progress-bar,
            span {
                margin-top: 0;
                padding-top: 0;
                padding-bottom: 0.5rem;
            }
        }
        .reset-button {
            margin: auto 0 0;
        }
    }

    @media (max-width: 645px) {
        .active-bar {
            max-width: 67% !important;
        }
        .reset-button {
            max-width: 33% !important;
        }

    }

    @media (max-width: 1400px) {
        #Header #Header_Content {
            flex: 1 0 98% !important;
            max-width: 98%;
        }

        #Main_Content_Wrap #Main_Content {
            flex: 1 0 98% !important;
            max-width: 98%;
        }
    }
}
