
@mixin media-queries() {

    @media (min-height: 1040px) and (min-width: 1200px) {
        font-size: 18px;
    }

    @media (min-height: 1200px) {
        font-size: 22px;
        app-skills,
        .underlay {
            background-size: cover;
        }
    }

    @media (max-height: 840px) and (min-height: 739px) and (min-width: 1200px) {
        font-size: 14px;
    }
      
    @media (max-height: 740px) and (min-width: 1200px) {
        font-size: 12px;
    }

    @media (max-width: 1200px) {
        .skill-selection {
            flex-flow: row wrap !important;
            max-width: 65% !important;
            overflow: auto;
        }

        .combat,
        .support,
        .survival,
        .tech {
            flex: 1 1 50% !important;
            max-width: 50% !important;
        }
        .spacer {
            width: 0;
        }
        .skill-details {
            max-width: 35% !important;
        }
    }

    @media (min-width: 2500px) {
        #Header #Header_Content {
            flex: 1 0 75% !important;
            max-width: 75%;
        }

        #Main_Content_Wrap #Main_Content {
            flex: 1 0 75% !important;
            max-width: 75%;
        }
    }

    // Force Landscape view. 
    @media (pointer:none), (pointer:coarse) and (max-width: 800px) and (orientation: portrait) {
        transform: rotate(-90deg);
        transform-origin: left top;
        height: 100vw;
        width: auto;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}
